############################
# OS X
############################

strapidev/.DS_Store
strapidev/.AppleDouble
strapidev/.LSOverride
strapidev/Icon
strapidev/.Spotlight-V100
strapidev/.Trashes
strapidev/._*


############################
# Linux
############################

strapidev/*~


############################
# Windows
############################

strapidev/Thumbs.db
strapidev/ehthumbs.db
strapidev/Desktop.ini
strapidev/$RECYCLE.BIN/
strapidev/*.cab
strapidev/*.msi
strapidev/*.msm
strapidev/*.msp


############################
# Packages
############################

strapidev/*.7z
strapidev/*.csv
strapidev/*.dat
strapidev/*.dmg
strapidev/*.gz
strapidev/*.iso
strapidev/*.jar
strapidev/*.rar
strapidev/*.tar
strapidev/*.zip
strapidev/*.com
strapidev/*.class
strapidev/*.dll
strapidev/*.exe
strapidev/*.o
strapidev/*.seed
strapidev/*.so
strapidev/*.swo
strapidev/*.swp
strapidev/*.swn
strapidev/*.swm
strapidev/*.out
strapidev/*.pid


############################
# Logs and databases
############################

#.tmp
strapidev/*.log
strapidev/*.sql
strapidev/*.sqlite
strapidev/*.sqlite3


############################
# Misc.
############################

strapidev/*#
strapidev/ssl
strapidev/.idea
strapidev/nbproject
strapidev/public/uploads/*
strapidev/!public/uploads/.gitkeep

############################
# Node.js
############################

strapidev/lib-cov
strapidev/lcov.info
strapidev/pids
strapidev/logs
strapidev/results
strapidev/node_modules
strapidev/.node_history

############################
# Tests
############################

strapidev/testApp
strapidev/coverage

############################
# Strapi
############################

strapidev/.env
strapidev/license.txt
strapidev/exports
strapidev/*.cache
strapidev/dist
strapidev/build
strapidev/.strapi-updater.json
